html {
  background-color: #ffffff;
  font-size: 15%;
}

body {
  width: 80%;
  max-width: 1920px;
  margin: 0 auto;
  font-family:Arial, Helvetica, sans-serif;
}

ul {
  height: 100px;
  background: #e7e5e5;
  padding: -10px;
  border: 0px solid black;
  border-style: solid;
  border-radius: 0px;
  margin-bottom: 50px;
  margin-top: 50px;
}

li {
  font-size: 18px;
  margin-left: 10px;
  margin-right: 30px;

}

#barra_superior {
  height: 50px;
  border: 10px transparent black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
 
h1 {
  font-size: 75px;
  margin-left: 30%;
  margin-right: 15%;
}

div {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

article {
  margin-right: 10%;
  margin-left: 7%;
 
}

h2 {
  font-size: 50px;
  border-color: darkgray;
}

p {
  font-size: 20px;
  margin-top: 10px;
}

address {
  display:flex;
  align-items: center;
  justify-content:space-around;
}

header {
  display:flex;
  align-items: center;
}

table {
  font-size: 25px;
}